doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		block styles
	body
		if user
			div.header-logged-in
				a(href='/logout') Logout
		block content
	
	script(src='/javascripts/angular.min.js')
	script(src='/javascripts/pivotal-angular-app/app.js')
	block scripts