doctype html
html
	head
		meta(name="description",content="An application to ease GE Pivotal Tracker users in the Agile process")
		meta(name="keywords",content="pivotaltracker, agile, globalenglish, scrum, storyboard")
		meta(name="author",content="Vignesh PT, Dhanendran R, Akhil Soman, Mohamed Asif")
		meta(name="dcterms.rightsHolder", content="GlobalEnglish. All Rights Reserved.")
		meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1.2")
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/pivotal.css')
		link(rel='stylesheet', href='/stylesheets/print.css', media='print')
		link(rel='stylesheet', href='/stylesheets/font-awesome/css/font-awesome.css')
		link(href='http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700', rel='stylesheet', type='text/css')
		block styles
	body
		div.wraper
			div.container
				div.header.default-shadow-header
					div
						img(src="/images/gelogo.png" class="logo ge" alt="GlobalEnglish")
						img(src="/images/pivotal_logo.png" class="logo pt" alt="Pivotal Tracker")
						a.home-icon(href='/')
							i.fa.fa-home
					if user
						a.logout-link(href='/logout')
							i.fa.fa-sign-out
				block content
			div.footer
				div.footer-links
					a.ge-marketing-link(href='http://www.globalenglish.com',target="_blank") © #{(new Date()).getFullYear()} GlobalEnglish Corporation. 
					|&nbsp;| All Rights Reserved
					a.help-link(href='/help') Help
					a.about-link(href='/about') About
				div.pearson-footer
					img(src="/images/always.png" class="logo al" alt="Always Learning")
					img(src="/images/pearson_logo.png" class="logo pe" alt="Pearson")

	script(type="text/javascript", src='/javascripts/jquery-1.11.0.min.js')
	script(type="text/javascript", src='/javascripts/angular.min.js')
	script(type="text/javascript", src='/javascripts/lib/extensions.js')
	script(type='text/javascript', src='/javascripts/lib/analytics.js')
	script(type="text/javascript", src='/javascripts/pivotal-angular-app/pivotal-app.js')
	script(type="text/javascript", src='/javascripts/pivotal-angular-app/directives/helper-directives.js')
	block scripts