extends ../shared/layout
block scripts
	script.
		var renderedStories = !{JSON.stringify(stories)};
		var userObj = !{JSON.stringify(user)};
	script(src='/javascripts/pivotal-angular-app/directives/storycard.js')
	script(src='/javascripts/pivotal-angular-app/controllers/stories.js')
block styles
	link(href='/stylesheets/structure.css',rel='stylesheet')
block content
	div.content.print-page-wrap(ng-app='gePivotalApp',ng-controller='stories')
		div.printBtn
			select(ng-model='selectedView' ng-options='view.value as view.text for view in views' ng-change='changeView()')
			br
			br
			button.btn-roundedCorner(onclick="javascript:window.print();")
				|Print Stories
		div.printablediv
			storycard(data-ng-repeat="story in stories", data-ng-if="stories.length>0" emitevent)
		div(class='no-stories-message',data-ng-cloak, data-ng-if="stories.length==0")
			|You have no stories in this project in the current sprint