<div class="printMe">
	<div class="printpageWraper ">
		<span class="card-type-text">Storyboard Card</span>
			<div class="grid no-margin equal container board-view">
				<div class="col3 left-column">
					<div  class="general withMargin user">
						<div class="col wrapcentering">
							<img class="user-image" err-src="/images/default-profile.png" data-ng-src="{{gravatarUrl}}" alt="" />
						</div>
						<div class="col text-center">
							<h2 class="bold">{{story.owned_by.name}}</h2>
						</div>
					</div>
				</div>
				<div class="col9 right-column">
					 <div  class="general withMargin headerWrap">
						<div class="col">
							 <div  class="grid equalHeight">
								<div class="col4">
									<h3 class="story-type-text">{{story.story_type}}</h3>
									<p><span>(Type)</span></p>
								</div>
								<div class="col4">
									<h3>{{story.estimate || "NA"}}</h3>
									<p><span>(Points)</span></p>
								</div>
								<div class="col4">
									<h3>{{story.requested_by.name}}</h3>
									<p><span>(Requested By)</span></p>
								</div>
							</div>
						</div>
						<div class="col details">
							<h4>Details</h4>
							<p>{{story.name}}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	<div class="divider"></div>
	<div class="printpageWraper ">
		<span class="card-type-text">Dashboard Card</span>
			<div class="grid no-margin equal container desk-view">
				<div class="col3 left-column">
					<div  class="general withMargin user">
						<div class="col wrapcentering">
							<img class="user-image" err-src="/images/default-profile.png" data-ng-src="{{gravatarUrl}}" alt="" />
						</div>
						<div class="col text-center">
							<h2 class="bold">{{story.owned_by.name}}</h2>
						</div>
					</div>
				</div>
				<div class="col9 right-column">
					 <div  class="general withMargin headerWrap">
						<div class="col">
							 <div  class="grid equalHeight">
								<div class="col4">
									<h3 class="story-type-text">{{story.story_type}}</h3>
									<p><span>(Type)</span></p>
								</div>
								<div class="col4">
									<h3>{{story.estimate || "NA"}}</h3>
									<p><span>(Points)</span></p>
								</div>
								<div class="col4">
									<h3>{{story.requested_by.name}}</h3>
									<p><span>(Requested By)</span></p>
								</div>
							</div>
						</div>
						<div class="col details">
							<h4>Details</h4>
							<p>{{story.name}}</p>
						</div>
						<div class="col tasks">
							<h4>Tasks</h4>
							<ul>
								<li data-ng-repeat="task in story.tasks"><input type="checkbox" /><label>{{task.description}}</label></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
			<div class="invisible-divider"></div>
</div>

