<div class="printMe">
	<span class="card-type-text">StoryBoard Card</span>
	<div class="storycard board-view">
		<div class="image">
			<img err-src="/images/default-profile.png" data-ng-src="{{gravatarUrl}}"/>
			<p>{{story.owned_by.name}}</p>
		</div>
		<div class="story-info">
			<div class="story-info-div">
				<p>Type</p>
				<p>{{story.story_type}}</p>
			</div>
			<div class="story-info-div">
				<p>Point</p>
				<p>{{story.estimate || "NA"}}</p>
			</div>
			<div class="story-info-div requested-by">
				<p>Requested By</p>
				<p>{{story.requested_by.name}}</p>
			</div>
		</div>
		<div class="story">
			<p class="title">Story</p> <div class="story-id">#{{story.id}}</div>
			<p>{{story.name}}</p>
		</div>
	</div>
	<div class="divider"></div>
	<span class="card-type-text">DashBoard Card</span>
	<div class="storycard desk-view">
		<div class="image">
			<img err-src="/images/default-profile.png" data-ng-src="{{gravatarUrl}}"/>
			<p>{{story.owned_by.name}}</p>
			<div class="info">
				<span>Type</span>
				<span>{{story.story_type}}</span>
				<span>Point</span>
				<span>{{story.estimate || "NA"}}</span>
				<span>Requested By</span>
				<span>{{story.requested_by.name}}</span>
			</div>
		</div>
		<div class="story">
			<p class="title">Story</p> <div class="story-id">#{{story.id}}</div>
			<p>{{story.name}}</p>
		</div>
		<div class="task">
			<ul>
				<li data-ng-repeat="task in story.tasks"><label><input type="checkbox" />{{task.description}}</label></li>
			</ul>
		</div>
	</div>
	<div class="invisible-divider"></div>
</div>