<div class="printMe">
  <div class="board printpageWraper ">
    <input type='checkbox' class='selectStory' checked onclick="$(this).parent().parent().toggleClass('hide');">
    <span class="card-type-text">Storyboard Card</span>
    <div class="grid no-margin equal container board-view">
      <div class="col9 right-column">
         <div  class="general withMargin headerWrap">
          <div class="col">
             <div  class="grid equalHeight">
              <div class="col4">
                <h3 class="story-type-text">{{story.id}}</h3>
                <p><span>(Story Id)</span></p>
              </div>
              <div class="col4">
                <h3 class="story-type-text">{{story.story_type}}</h3>
                <p><span>(Type)</span></p>
              </div>
              <div class="col4">
                <h3>{{story.estimate || "NA"}}</h3>
                <p><span>(Points)</span></p>
              </div>
            </div>
          </div>
          <div class="col details">
            <h4>Story</h4>
            <p>{{story.name}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="invisible-divider"></div>
</div>

