.header, .footer, [class^="btn-"], .username {display: none;}
.printMe {position: relative; min-height: 950px; background-color: #fff; float:left; width: 100%; margin:15px 0; border: none; padding:10px;}
.printMe .divider {width:70%; margin:20px auto; clear: both; display:block;}
.printMe .invisible-divider{width:100%; clear:both;border-top: 1px dashed #000;display:block;}
.image img {border: solid 1px;}
.printMe .card-type-text{display:none;}
.printBtn{display:none;}
.printpageWraper {width:98% !important;}
[class^="col"] {background-color:transparent;}
h3 {font-size:18px;}
[class^="col"] [class^="col"] [class^="col"] {background-color:transparent;}
.user [class^="col"], .general.withMargin > [class^="col"] {border:0;}
.right-column .general.withMargin > [class^="col"]:first-child [class^="col"] {background-color:#f1f1f1;}
.container {border:1px dotted #ccc;}
.user [class^="col"], .general.withMargin > [class^="col"].tasks { padding-top:30px;border-top:1px dotted #ccc;}
.container.forprintpage{border: none;}
.container.forprintpage > .content{margin: 0  auto!important;width: 100% !important;}
.printablediv .invisible-divider:last-child{display: none;}
.printablediv .printMe:last-child{min-height: inherit;}
.container.forprintpage{padding-bottom: 0;}
.board-view{display: block !important;}
.hide, .selectStory {display: none;}