.header, .footer, [class^="btn-"], .username {display: none;}
.printMe {position: relative; min-height: 945px; background-color: #fff; float:left; width: 100%; margin:15px 0; border: 2px dashed; padding:10px;}
.printMe .divider {width:70%; margin:0 auto 20px; clear: both; border-top: 1px dashed #000;display:block;}
.printMe .invisible-divider{width:100%; clear:both;border:none;display:block;}
.image img {border: solid 1px;}
.printMe .card-type-text{display:none;}
.printBtn{display:none;}