.header, .footer, [class^="btn-"], .username {display: none;}
.printMe {position: relative; min-height: 1034px; background-color: #f00; float:left; width: 100%;}
.divider {width:70%; margin:0 auto 20px; clear: both; border-top: 1px dashed #000;}