* {
  font-family: "Quattrocento Sans", Helvetica, Arial, sans-serif;
}
body {
  font: 14px "Quattrocento Sans", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
.margin-tb-10 {
  margin: 10px 0;
}
.padding-20 {
  padding: 20px;
}
.storyboardcard {
  padding: 20px 0;
}
.logout-link {
  float: right;
}
.default-shadow-header {
  -webkit-box-shadow: 0 2px 6px 0px rgba(0,0,0,0.16);
  -moz-box-shadow: 0 2px 6px 0px rgba(0,0,0,0.16);
  box-shadow: 0 2px 6px 0px rgba(0,0,0,0.16);
}
.pearson-footer {
  background-color: #444;
  height: 40px;
  padding: 10px;
}
.footer {
  margin-top: -76px;
  padding: 0;
}
.footer .footer-links {
  background: #f2f2f2;
  padding: 10px;
  text-align: center;
}
.footer .footer-links a {
  text-decoration: none;
}
.footer .footer-links a:hover {
  color: #444;
}
.footer .about-link {
  float: right;
}
/* Login form styles -- start */
.dialog-wrap {
  width: 340px;
  margin: 75px auto 0 auto;
  background: #e1e1e1;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 2px rgba(0,0,0,0.3);
}
.signin.inner {
  padding: 0 5px;
}
.signin.inner ul {
  padding: 0;
}
.signin.inner li {
  list-style-type: none;
  padding: 5px 0;
}
.signin.inner li input[type="text"],
.signin.inner li input[type="password"],
.signin.inner li input[type="email"] {
  width: 100%;
  font-size: 16px;
}
.signin.inner .submit.button {
  width: 100%;
}
.signin.inner li.error-message {
  color: #f00;
}
/* Login form styles -- end */
/* Home page styles -- start */
.home .title {
  text-align: center;
  margin: 60px 0 10px 0;
}
.content-container {
  margin: 20px;
}
.user-name {
  padding: 10px;
  background: #f0f8ff;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}
.user-name .gravatar {
  margin-right: 10px;
}
.user-name span {
  position: relative;
  top: -5px;
}
.wrap {
  margin: 0 !important;
}
.wrap a {
  text-decoration: none;
  color: #000;
}
.wrap .card {
  height: 130px;
  width: 250px;
  border-radius: 8px;
  float: left;
  margin-bottom: 20px;
  cursor: pointer;
  overflow: hidden;
  background-color: #fff;
  -webkit-transition: all 150ms ease-in;
  -moz-transition: all 150ms ease-in;
  -ms-transition: all 150ms ease-in;
  -o-transition: all 150ms ease-in;
  transition: all 150ms ease-in;
}
.wrap .card .card-title {
  padding: 10px;
  color: #fff;
}
.wrap .card:active {
  box-shadow: none;
  position: relative;
  top: 2px;
  left: 2px;
  background-color: #fdfdfd;
}
.wrap .card:hover {
  box-shadow: 0px 0px 3px 3px rgba(0,102,204,0.16);
}
.wrap .card .card-inner-container {
  position: relative;
  height: 100%;
  padding: 0 10px 10px;
  font-size: 16px;
}
.wrap .card .card-inner-container .color-tag {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 25px;
  height: 25px;
  border-radius: 5px;
}
.cards-container {
  margin: 0 !important;
  width: 100%;
  float: left;
}
.default-shadow {
  -webkit-box-shadow: 0 0 3px 0px rgba(0,0,0,0.16);
  -moz-box-shadow: 0 0 3px 0px rgba(0,0,0,0.16);
  box-shadow: 0 0 3px 0px rgba(0,0,0,0.16);
}
.radius_06 {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.span_1,
.span_2,
.span_3,
.span_4,
.span_5,
.span_6,
.span_7,
.span_8,
.span_9,
.span_10,
.span_11 {
  float: left;
  margin-right: 2.127659574468085%;
}
.bold {
  font-weight: bold !important;
}
/* Home page styles -- end */
/* Print page styles -- start*/
.print-page-wrap * {
  font-family: arial, helvetica, sans-serif !important;
}
.print-page-wrap .no-stories-message {
  display: none;
}
.printMe .divider {
  display: none;
}
.printMe .invisible-divider {
  display: none;
}
.printMe .card-type-text {
  font-weight: bold;
}
/* Print page styles -- end */
/* About page styles --- start */
.about-page .contributions {
  padding: 10px 0;
}
.about-page .contributions .authors {
  padding: 20px 10px;
}
.about-page .contributions .authors .author {
  min-width: 230px;
  padding: 10px 0;
  float: left;
}
.about-page .contributions .authors .author .author-name {
  font-weight: bold;
}
.about-page .contributions .authors .author .contribution-count {
  padding: 6px;
  font-weight: bold;
  background: #88c540;
  color: #fff;
  border-radius: 7px;
}
.about-page .contributions .authors .author img {
  width: 100px;
}
.about-page .message {
  clear: both;
  padding: 20px 0;
}
.about-page .message .issues {
  padding: 10px 0;
}
.about-page .message .issues a {
  text-decoration: none;
}
.about-page .error {
  padding: 20px 0;
  color: #f00;
}
/* About page styles --- end */
