* {
  font-family: "Quattrocento Sans", Helvetica, Arial, sans-serif;
}
body {
  font: 14px "Quattrocento Sans", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
.storyboardcard {
  padding: 20px 0;
}
/* Login form styles -- start */
.dialog-wrap {
  width: 333px;
  margin: 75px auto 0 auto;
  background: #e1e1e1;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 2px rgba(0,0,0,0.3);
}
.signin.inner {
  padding: 0 5px;
}
.signin.inner ul {
  padding: 0;
}
.signin.inner li {
  list-style-type: none;
  padding: 5px 0;
}
.signin.inner li input[type="text"],
.signin.inner li input[type="password"],
.signin.inner li input[type="email"] {
  width: 100%;
  font-size: 16px;
}
.signin.inner .submit.button {
  width: 100%;
}
.signin.inner li.error-message {
  color: #f00;
}
/* Login form styles -- end */
/* Home page styles -- start */
.gravatar {
  position: absolute;
  top: 0;
  right: 0;
}
/* Home page styles -- end */
