extends ../shared/layout
block content
	div.background
	div.dialog-wrap
		div.inner.signin
			h1 Sign in 
			|(With PivotalTracker credentials)
			form(method="POST",action="/login")
				ul
					li
						input(type='text', required,name='username', placeholder="Email or username")
					li
						input(type='password',required,name="password", placeholder = "Password")

					li
						input(type='email',valid=true,name="gravatar", placeholder = "Gravatar email-id (optional)",title="Used for profile picture",
							pattern="^[A-Za-z0-9](([_\.\-]?[a-zA-Z0-9]+)*)@([A-Za-z0-9]+)(([\.\-]?[a-zA-Z0-9]+)*)\.([A-Za-z]{2,})$")

					li
						button.button(type='submit')
							span.btn-roundedCorner Sign In
					li
						|Don't have a Gravatar account? Get one at 
						a(href="http://en.gravatar.com",target="_blank") Gravatar.com
					li
						!{user}
					li.error-message 
						!{message}