extends ../shared/layout
block content
	div.background
	div.dialog-wrap
		div.inner.signin
			h1 Sign in 
			|(With PivotalTracker credentials)
			form(method="POST",action="/login")
				ul
					li
						input(type='text',name='username', placeholder="Email or username")
					li
						input(type='password',name="password", placeholder = "Password")
					li
						button.submit.button(type='submit') Sign In
					li
						!{user}
					li.error-message 
						!{message}